/* colors */
:root {
  --main-dark-color: #304153;
  --light-blue-color: #3899d7;
  --carousel-caption-color: #38da9e;
  --icons-color: #389cda;
  --main-light-color: #e9edf0;
  --footer-color: #212d3a;
  --grey-color: #b4b4b4; 
  --transperent-color: #212d3a00;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: .8px;
  font-weight: 300;
  font-family: 'Audiowide', cursive;
}

.container-custom {
  margin-bottom: 2em;
}

h2,
h3,
p
 {
  text-align: center;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  
  font-size: 2.25rem;
}


hr {
  background-color: var(--main-light-color);
  width: 70%;
}
.card-text,
.about-me-text
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.main-hr {
  width: 100%;
  border-top: 2px solid var(--grey-color);
  margin-top: .3rem;
  margin-bottom: 3rem;
}
/* 
===========
 NAVIGATION
=========== 
 */

.navbar {
  width: 100%;
  background-color: var(--main-dark-color)!important;
  position: fixed;
  z-index: 12;
  box-shadow: 0 5px 12px 0px var(--main-light-color);
}

.navbar-nav {
  align-items: flex-end;
}

.nav-link {
  color: var(--main-light-color)!important;
  font-family: 'Audiowide', cursive;
  text-transform: uppercase;
  margin-left: 2em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--light-blue-color)!important;
}

/* 
===========
 HERO
=========== 
 */

.carousel {
  margin-bottom: 2em;
  padding-top: 4em;
}

.carousel-caption {
  color: var(--carousel-caption-color);
}
.carousel-caption p {
  color: var(--main-light-color);
}

.carousel-caption h1, p {
  margin: 0;
  padding:0;
}

/* 
===========
 SKILLS
=========== 
 */
.slogan-header {
  margin-top: 2.8em;
}

.skills {
  text-align: center;
  margin: 2.5em;

}

.skills i {
  color: var(--icons-color);
  font-size: 4rem;
}

/* 
===========
 PROJECTS
=========== 
 */
 .projects-header {
   margin-top: 3em;
   margin-bottom: 2em;
 }
 .projects-wrapper {
   width: 95%;
   margin: 0 auto;
 }
.card {
  margin-bottom: 1em;
  padding: 1em;
  background-color: var(--main-dark-color);
  text-align: center;
  min-width: 350px;
  border-radius: 3%;
  border-top: 5px solid var(--light-blue-color);

}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-title {
  color: var(--main-light-color);
  font-weight: 900;
  font-size: 1.5rem;
  padding-top: .2em;
}

.card-img {
  filter: brightness(80%);
}

.card-text {
    font-family: 'Audiowide',serif;
    font-weight: 400;
}

.hidden {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  transition-duration: 1s;
}

.show {
  text-indent: 0;
  white-space: nowrap;
  overflow: hidden;
  transition-duration: 1s;
}

/* 
.btn-projects {
  color: var(--carousel-caption-color);
  border-color: var(--carousel-caption-color);
}

.btn-projects:hover {
  color: var(--light-blue-color);
  background-color: #fff;
  border-color: var(--transperent-color);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
} */

/* 
===========
 ABOUT ME
=========== 
*/

 .container-about-me {
   display: flex;
   flex-direction: column;
 }

.about-me-header {
  margin-top: 3em;
  margin-bottom: 1em;
}

.about-me-text {
  width: 90%;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 2em;
}

.about-me-image {
  display: block;
  width: 50%;
  border-radius: 7%;
  margin: 0 auto;
  order: -1;
  margin-bottom: 2em;
  border-top: 3px solid var(--main-dark-color);
}

/*
===========
 CONTACT ME
=========== 
*/

 .button-contact-me {
  
  color: #e9edf0;
  width: 100%;
  margin-bottom: 2rem;
  background-color: #3041534a;
  border-color: #404b3c00;
  font-family: 'Audiowide', cursive;
  font-size: 2rem;
}


.button-contact-me-color {
  transition: color 200ms;
  color:#389cda;

}



.contact {
  width: 100%;
  height: 860px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("img/contact2.png");
  margin-bottom: 2em;
  margin-top: 6em;

}
.form-control {
  display: inline-block;

}
.form-group {
  width: 100%;
  margin: 0 auto;
}

.form-group textarea {
  width: 100%;
  height: 10rem;
}

.custom-btn-send {
  margin-top: 2em;
  background-color: var(--light-blue-color);
  text-transform: uppercase;
  margin-bottom: 2em;
}

.custom-btn-send:hover {
  background-color: var(--transperent-color);
}

/*
===========
FIND ME
=========== 
*/
.fa-twitter {
  color: #00aced;
}

.fa-github-square {
  color: #000;
}

.fa-youtube {
  color: #bb0000;
}

.find-me-header {
  margin-bottom: 1em;
}

.social {
  text-align: center;
  margin: 5em auto;
}
.social i {
  font-size: 3.5rem;
  margin: 0 .3em;
}

.social a :hover {
  color: var(--main-dark-color);
  transition: color 600ms;
  -webkit-transition: color 600ms;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  /* Additional */
  line-height: 39px;
  border-radius: 10px;
}


/*
===========
FOOTER
=========== 
*/

footer {
  background-color: var(--footer-color);
  color: var(--main-light-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4em 0;
}

#modal-embed {
  width: 100%;
  height: 500px;
}

.modal-button {
  color: #f5ecec;
  background-color: var(--footer-color);
  border: 1px solid var(--main-light-color);
}

.modal-button:hover {
  color: var(--light-blue-color);
  color: var(--main-light-color);
}

.footer-column {
  margin-bottom: 1em;
}

.footer-column hr {
  margin: 1em auto;
}

.footer-content {
  margin-top: 3em;
  margin-bottom: 3em;
}

.made-in-text {
  font-size: 13px;

}

@media (min-width: 992px) {
  body {
    font-size: 1.125rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 4.53rem;
  }

  .main-hr {
    width: 40%;
  }
  .carousel-caption {
    bottom: 3em;
  }
  /* skills */

  .skills-main-container {
    display: flex;
    justify-content: center;
  }

  .skills-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* projects */
  .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .projects-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .card-title {
    font-size: 1.3rem;
  }

  .card-text {
    font-size: .7rem;
  }
  /* about me  */

  .container-about-me {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .about-me-image {
    width: 20%;
    border-radius: 3%; 
    order: 1;
  }


  .about-me-text {
    width: 40%;  
  }

  /* find me */
  .social i {
    font-size: 5.5rem;
    margin: 0 1em;
  }

  /* footer */

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
  }
}

.row-defauts {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
}


